<!-- Header -->
<div class="ms_header">
  <div class="ms_top_left">
    <div class="ms_top_search">
      <input type="text" id="searchBox" class="form-control" placeholder="Search Music Here.." />
      <span class="search_icon"><img src="/static/images/svg/search.svg" alt="" /></span>
      <!-- 🔽 Results container appears here -->
      <ul id="searchResults" style="position: absolute; top: 100%; left: 0; right: 0; z-index: 999; background: white; border: 1px solid #ccc; list-style: none; margin: 0; padding: 0; display: none;"></ul>
    </div>
    <div class="ms_top_trend">
      <span><a href="#" class="ms_color">Trending Songs :</a></span>
      <span class="top_marquee"><a href="#">Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley (+8 More)</a></span>
    </div>
  </div>
  <div class="ms_top_right">
    <!--  <div class="ms_top_lang">
      <span data-toggle="modal" data-target="#lang_modal">languages <img src="/static/images/svg/lang.svg" alt="" /></span>
    </div>  -->

    <!-- Logged Out State (Default) -->
    <div class="ms_top_btn logged-out">
      <a href="javascript:;" class="ms_btn reg_btn" data-toggle="modal" data-target="#myModal"><span>register</span></a>
      <a href="javascript:;" class="ms_btn login_btn" data-toggle="modal" data-target="#myModal1"><span>login</span></a>
    </div>

    <!-- Logged In State (Hidden by Default) -->
    <div class="ms_top_btn logged-in" style="display: none;">
      <!-- <a href="upload.html" class="ms_btn">upload</a> -->
      <a href="javascript:;" class="ms_admin_name">
        Hello
        <span class="user-display-name">User</span>
        <span class="ms_pro_name">NA</span>
      </a>
      <ul class="pro_dropdown_menu">
        <li>
          <a href="/profile">Profile</a>
        </li>
        <li>
          <a href="manage_acc.html" target="_blank">Pricing Plan</a>
        </li>
        <li>
          <a href="blog.html" target="_blank">Blog</a>
        </li>
        <li>
          <a href="#">Setting</a>
        </li>
        <li>
          <a href="#" id="logout-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
