<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/register.css" />
  </head>
  <body>
    <h2>Register</h2>

    <form id="register-form">
      <input type="text" id="username" placeholder="Username" required /><br />
      <input type="email" id="email" placeholder="Email" required /><br />
      <input
        type="password"
        id="password"
        placeholder="Password"
        required
      /><br />
      <button type="submit">Register</button>
    </form>

    <p id="message"></p>

    <h3>All Registered Users:</h3>
    <ul id="user-list"></ul>

    <script src="static/js/register.js"></script>
  </body>
</html>
